# Line Plots

Vi

Possible problems with data:
* Data Types
* Indexing
* Bad Data (NaN and nonsense numbers)
* Values (wrong units)

## Polar Vortex (January 2019) [CBS News Report](https://www.cbsnews.com/news/polar-vortex-2019-record-cold-grips-the-midwest-as-chicago-river-turns-to-ice/)

Data for the node **001e06113cf1** has already been extracted into dataset `polarvortex.csv` for you to use.

In [1]:
import pandas as pd

In [2]:
polar = pd.read_csv('.csv')
polar.head()

,Unnamed: 0,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
0,4097665,2019-01-30 00:00:24,001e06113cf1,lightsense,apds_9006_020,intensity,65535,5267.409
1,4097666,2019-01-30 00:00:24,001e06113cf1,lightsense,hih6130,humidity,65535,100.0
2,4097667,2019-01-30 00:00:24,001e06113cf1,lightsense,hih6130,temperature,65535,125.01
3,4097668,2019-01-30 00:00:24,001e06113cf1,lightsense,hmc5883l,magnetic_field_x,-1,-0.909
4,4097669,2019-01-30 00:00:24,001e06113cf1,lightsense,hmc5883l,magnetic_field_y,-1,-0.909

## Data Types

A computer sees the values differently thant we do. Don't assume.

In [4]:
polar.dtypes

Unnamed: 0     int64
timestamp     object
node_id       object
subsystem     object
sensor        object
parameter     object
value_raw     object
value_hrf     object
dtype: object

In [6]:
polar['value_hrf'] = pd.to_numeric(polar['value_hrf'], errors='coerce')

In [8]:
polar['value_hrf'].dtypes

dtype('float64')

In [11]:
polar.dtypes

Unnamed: 0             int64
timestamp     datetime64[ns]
node_id               object
subsystem             object
sensor                object
parameter             object
value_raw             object
value_hrf            float64
dtype: object

## Indexing

Understading how our data is organized is important as we saw in the previous exercise. An important place to look is the index. By default, each reading is indexed starting with 0 all the way up to 169024. If we want to be able to work with this data, we need to organize it in a more understandable way, like time.

In [16]:
polar.dtypes

Unnamed: 0     int64
timestamp     object
node_id       object
subsystem     object
sensor        object
parameter     object
value_raw     object
value_hrf     object
dtype: object

In [27]:
# Convert timestamp from string into date format
polar['timestamp'] = pd.to_datetime(polar['timestamp'])
polar.head()

,Unnamed: 0,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
0,4097665,2019-01-30 00:00:24,001e06113cf1,lightsense,apds_9006_020,intensity,65535,5267.409
1,4097666,2019-01-30 00:00:24,001e06113cf1,lightsense,hih6130,humidity,65535,100.000
2,4097667,2019-01-30 00:00:24,001e06113cf1,lightsense,hih6130,temperature,65535,125.010
3,4097668,2019-01-30 00:00:24,001e06113cf1,lightsense,hmc5883l,magnetic_field_x,-1,-0.909
4,4097669,2019-01-30 00:00:24,001e06113cf1,lightsense,hmc5883l,magnetic_field_y,-1,-0.909

In [33]:
polar.index = polar['timestamp']
polar.head()

,Unnamed: 0,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
timestamp,,,,,,,,
2019-01-30 00:00:24,4097665,2019-01-30 00:00:24,001e06113cf1,lightsense,apds_9006_020,intensity,65535,5267.409
2019-01-30 00:00:24,4097666,2019-01-30 00:00:24,001e06113cf1,lightsense,hih6130,humidity,65535,100.000
2019-01-30 00:00:24,4097667,2019-01-30 00:00:24,001e06113cf1,lightsense,hih6130,temperature,65535,125.010
2019-01-30 00:00:24,4097668,2019-01-30 00:00:24,001e06113cf1,lightsense,hmc5883l,magnetic_field_x,-1,-0.909
2019-01-30 00:00:24,4097669,2019-01-30 00:00:24,001e06113cf1,lightsense,hmc5883l,magnetic_field_y,-1,-0.909

In [35]:
polar = polar.drop(columns='timestamp')
polar.head()

,Unnamed: 0,node_id,subsystem,sensor,parameter,value_raw,value_hrf
timestamp,,,,,,,
2019-01-30 00:00:24,4097665,001e06113cf1,lightsense,apds_9006_020,intensity,65535,5267.409
2019-01-30 00:00:24,4097666,001e06113cf1,lightsense,hih6130,humidity,65535,100.000
2019-01-30 00:00:24,4097667,001e06113cf1,lightsense,hih6130,temperature,65535,125.010
2019-01-30 00:00:24,4097668,001e06113cf1,lightsense,hmc5883l,magnetic_field_x,-1,-0.909
2019-01-30 00:00:24,4097669,001e06113cf1,lightsense,hmc5883l,magnetic_field_y,-1,-0.909

In [14]:
cold = polar[(polar['timestamp'] >= '2019-01-30 00:00:00') & (polar['timestamp'] <= '2019-01-31 23:59:59')]

In [15]:
cold

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
4097665,2019-01-30 00:00:24,001e06113cf1,lightsense,apds_9006_020,intensity,65535,5267.409
4097666,2019-01-30 00:00:24,001e06113cf1,lightsense,hih6130,humidity,65535,100.0
4097667,2019-01-30 00:00:24,001e06113cf1,lightsense,hih6130,temperature,65535,125.01
4097668,2019-01-30 00:00:24,001e06113cf1,lightsense,hmc5883l,magnetic_field_x,-1,-0.909
4097669,2019-01-30 00:00:24,001e06113cf1,lightsense,hmc5883l,magnetic_field_y,-1,-0.909
...,...,...,...,...,...,...,...
4266685,2019-01-31 23:59:57,001e06113cf1,metsense,pr103j2,temperature,378,-16.7
4266686,2019-01-31 23:59:57,001e06113cf1,metsense,spv1840lr5h_b,intensity,NaN,66.26
4266687,2019-01-31 23:59:57,001e06113cf1,metsense,tmp112,temperature,65535,-254.0
4266688,2019-01-31 23:59:57,001e06113cf1,metsense,tsl250rd,intensity,12,0.604
4266689,2019-01-31 23:59:57,001e06113cf1,metsense,tsys01,temperature,16777215,214.75

In [16]:
cold.to_csv("polarvortex.csv")

It looks like we have multiple sensors. Let's see how many.

In [ ]:
polar_temps.loc[:,'value_hrf'] = polar_temps['value_hrf'].astype(float)

In [ ]:
polar_temps['value_hrf'].describe()

Convert the temperatures to Fahrenheit from Celsius.

$$ T(F) = \frac{9}{5}T(C)+32 $$

In [ ]:
def Celsius_to_Fahrenheit(temp_C):
    temp_F = (temp_C * 9/5) + 32
    return temp_F

In [ ]:
polar_temps.loc[:,'Temp_F'] = polar_temps['value_hrf'].apply(Celsius_to_Fahrenheit)
polar_temps.head()

### Let's get an idea of the range of temperature values.

In [ ]:
polar_temps['Temp_F'].describe()

There is a large variation in the temperatures (value_hrf) for the different sensors (-899&deg;F to 466&deg;F). Some of which violate the laws of physics and common sense.

In [ ]:
sensor_range = polar_temps.groupby(['sensor'])
sensor_range['Temp_F'].describe()

# Small Group

During the polar vortex, record low temperatures were set around Chicago. On Northerly Island, the National Weather Service recorded a low of -22&deg;F One of the nodes (001e06113cf1) is on Michigan Avenue and Randolph Street by Millenium Park, not far from Northerly Island.

### Which temperature sensor on this node is the most accurate?

1. Import the January 2019 data for this node ("Millenium_node.csv)
2. Set the "timestamp" as the index.
3. Find the names of all of the temperature sensors in the node.
4. Convert the `value_hrf`'s to Farhenheit

----
# (Part 2)

# Which AoT temperature sensor is the most accurate?

Use the National Weather Service observations at Northerly Island to compare. The blue bars are what you want to pay attention to.

<img src = "images/chart.jpeg" height=400 width = 600 align=center>

We can narrow our search by getting an idea of the temperature range for each sensor. Even though these values sit in the same column, we can use the `groupby` method to analyze each sensor individually.

In [ ]:
polar_temps.groupby('sensor')['Temp_F'].min()

It looks like `pr103j2` might be the best candidate because its minimum is closest to the National Weather Services record low (-22&deg;C).

Let's make a plot of its temperatures for the month of January.

In [ ]:
sensor_temp = polar_temps[polar_temps['sensor'] == 'pr103j2']

In [ ]:
sensor_temp.head()

What was the minumum temperature for this node for the month of January?

## Import Matplotlib

We will use the pyplot module which provides full control of line styles, font and other properties. The style package gives support for easy-to-switch plotting “styles”.  We will use a style called "seaborn", but others are available.

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('seaborn') 
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [ ]:
plt.plot(sensor_temp.index, sensor_temp['Temp_F'])

In [ ]:
#don't make the mistake of plt.xlabel = 'Time'. This will set the function to the string and you
#won't be able to fix it unless you restart the kernel.

plt.plot(sensor_temp.index, sensor_temp['Temp_F'])
plt.xlabel('Time')
plt.ylabel('Temperature_F')
plt.title('Brrr... Polar Vortex')

In [ ]:
plt.plot(sensor_temp.index, sensor_temp['Temp_F'], '-r')
plt.xlabel('Time')
plt.ylabel('Temperature_F')
plt.title('Brrr... Polar Vortex')
plt.figure(figsize=(7, 5))

----
# (Part 3)

# Rolling Mean

In [ ]:
sensor_temp_hourly = sensor_temp.Temp_F.resample('H').mean()

In [ ]:
#plt.plot(sensor_temp_hourly, '--', label="Hourly Data")
plt.plot(sensor_temp.index, sensor_temp['Temp_F'], '-', label="Original Data")

window_size = 6
label_string="Rolling mean window: %s" % window_size
plt.plot(sensor_temp_hourly.rolling(window_size).mean(), 'orange', label=label_string)

plt.title("Rolling Mean Trendlines", fontsize=20)

plt.xlabel("Time", fontsize=14)
plt.ylabel("Temperature (°F)", fontsize=14)

plt.tick_params(labelsize=12)

# Finding the best location to display the legend
plt.legend(loc='best')

fig = plt.gcf()
fig.set_size_inches(15, 5)