# Exploring AoT Data

<img src = 'http://arrayofthings.github.io/images/Nodes%20Diagram.jpg' width = 300>

One of the most important steps in doing science with data is to familiarize yourself with the data, including
* Getting a first look at the data.
* How is it structured?
* Looking more closely at the data.
* Filtering the data that you are interested in.

### Getting a First Look (I do)

In [3]:
# Import the Pandas library and read in the AoT .csv file into Pandas as a dataframe.
import pandas as pd
pd.options.mode.chained_assignment = None
data = pd.read_csv("data/AoT_Chicago.complete.recent.csv")

In [4]:
%pwd

'/Users/jdomyancich/Documents/GitHub/Big-Data-Camp/AoT/Exploring_AoT_Data'

In [5]:
# Print the dataframe
data

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
0,2021/03/20 00:31:19,001e0610ee36,lightsense,apds_9006_020,intensity,8,0.643
1,2021/03/20 00:31:19,001e0610ee36,lightsense,hih6130,humidity,9272,56.6
2,2021/03/20 00:31:19,001e0610ee36,lightsense,hih6130,temperature,22704,17.17
3,2021/03/20 00:31:19,001e0610ee36,lightsense,hmc5883l,magnetic_field_x,-177,-160.909
4,2021/03/20 00:31:19,001e0610ee36,lightsense,hmc5883l,magnetic_field_y,-1700,-1545.455
...,...,...,...,...,...,...,...
4677,2021/03/20 01:01:23,001e0610ee36,metsense,pr103j2,temperature,686,6.9
4678,2021/03/20 01:01:23,001e0610ee36,metsense,spv1840lr5h_b,intensity,NaN,56.72
4679,2021/03/20 01:01:23,001e0610ee36,metsense,tmp112,temperature,873,6.81
4680,2021/03/20 01:01:23,001e0610ee36,metsense,tsl250rd,intensity,0,0.0
4681,2021/03/20 01:01:23,001e0610ee36,metsense,tsys01,temperature,9280204,6.97

In [7]:
# Print the first few entries
data.head()

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
0,2021/03/20 00:31:19,001e0610ee36,lightsense,apds_9006_020,intensity,8,0.643
1,2021/03/20 00:31:19,001e0610ee36,lightsense,hih6130,humidity,9272,56.6
2,2021/03/20 00:31:19,001e0610ee36,lightsense,hih6130,temperature,22704,17.17
3,2021/03/20 00:31:19,001e0610ee36,lightsense,hmc5883l,magnetic_field_x,-177,-160.909
4,2021/03/20 00:31:19,001e0610ee36,lightsense,hmc5883l,magnetic_field_y,-1700,-1545.455

In [9]:
# Print the last few entries
data.tail()

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
4677,2021/03/20 01:01:23,001e0610ee36,metsense,pr103j2,temperature,686,6.9
4678,2021/03/20 01:01:23,001e0610ee36,metsense,spv1840lr5h_b,intensity,NaN,56.72
4679,2021/03/20 01:01:23,001e0610ee36,metsense,tmp112,temperature,873,6.81
4680,2021/03/20 01:01:23,001e0610ee36,metsense,tsl250rd,intensity,0,0.0
4681,2021/03/20 01:01:23,001e0610ee36,metsense,tsys01,temperature,9280204,6.97

### Checkpoint (you do)

## How is the data structured?

<img src = 'https://freesvg.org/img/1404333466.png' width = 300>

In [13]:
# Dimensions of the dataframe
data.shape

(4682, 7)

In [14]:
# Summary of the dataframe
data.describe()

,timestamp,node_id,subsystem,sensor,parameter,value_raw,value_hrf
count,4682,4682,4682,4682,4682,4538,4636
unique,184,3,3,18,23,646,538
top,2021/03/20 00:51:47,001e0611804d,metsense,pms7003,intensity,65535,0
freq,62,2627,2246,852,1100,1065,852

## Looking more closely at the data

In [ ]:
# Describe the data
data.insert_function

In [ ]:
# How many different nodes are there in this dataset?
data.insert_function

In [ ]:
# How many different sensors do we have?
data.insert_function

## Filtering Data

<img src = 'https://freesvg.org/img/1535225266.png' width = 300>

#### Working with Columns

In [ ]:
# Filter the 'node_id' and 'sensor' columns.
node_id = data[insert_list]
node_id

In [ ]:
# Rename the columns
data.columns = ['Timestamp','Node', 'Subsystem', 'Sensor_Name', 'Measurement', 'Raw_Value', 'Human_Readable']
data.head()

### What about rows?

`iloc`: integer position-based
`loc`: label-based

In [ ]:
# pass a value
data.iloc[insert_value]

In [ ]:
# pass a range
data.iloc[insert_range]

In [ ]:
# pass a list
data.iloc[insert_list]

The `loc` method allows you to search for labels within the columns. You can use values, booleans, and conditionals.

In [ ]:
# pass a value
data.loc[insert_value]

In [ ]:
# pass a conditional
data.loc[insert_conditional]

In [ ]:
# pass multiple conditions
data.loc[insert_multiple_conditionals]