# Data Structures and Operations

## Lists

A collection of items

Can be different data types

Ordered and changeable

In [56]:
food = ['coffee', 'bread', 'eggs', 'orange juice']

print(food)

['coffee', 'bread', 'eggs', 'orange juice']

In [57]:
food[1]

'bread'

In [ ]:
food[3] = 'milk'

In [ ]:
food

## Arrays 
A list that contains a single data type

In [ ]:
# Which lists are arrays?

grocery_list = ['eggs', 'butter', 'flour']

recipe_list = [1, 'cup', 'sugar']

age_list = [3, 8, 10, 38, 40]

number_list = [4, 'five', 'ten', 32]

## Arrays in Tables

### Checkpoint: Where are the arrays?



<img src="../images/arrays_checkpoint.png" width = 300>

## Numpy Arrays

<img src="images/numpy_planets.png" width = 300>

In [55]:
import numpy as np
planets = np.array(['mercury', 'venus', 'earth', 'mars', 'jupiter'])

In [38]:
planets

array(['mercury', 'venus', 'earth', 'mars', 'jupiter'], dtype='<U7')

In [40]:
planets = np.array([['mercury', 'venus', 'earth', 'mars', 'jupiter'], [1,2,3,4,5], [0,0,1,2,79]])

In [54]:
planets

array([['mercury', 'venus', 'earth', 'mars', 'jupiter'],
       ['1', '2', '3', '4', '5'],
       ['0', '0', '1', '2', '79']], dtype='<U21')

## Pandas Dataframes: Dictionary-Based Numpy Arrays

<img src="../images/pandas_planets.png" width = 300>

In [51]:
import pandas as pd

pandas_planets = {'A': ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter'],
        'B': [1, 2, 3, 4, 5], 'C': [0, 0, 1, 2, 79]}

In [52]:
planets_df = pd.DataFrame(pandas_planets)

In [53]:
planets_df

         A  B   C
0  Mercury  1   0
1    Venus  2   0
2    Earth  3   1
3     Mars  4   2
4  Jupiter  5  79

## Reading in Data from a .csv File

<img src="images/planets_csv.png" width = 200>