# John Snow Exercise 1: The Living City

## London experienced two major cholera outbreaks between 1840 and 1854. Can you figure out which years?

#### Datasets: `London.csv`, `Chicago.csv`

In [1]:
# Import the Pandas library and abbreviate it as pd

import pandas as pd

One of the simplest measures of the health of a city is the number of deaths. This data is relatively easy to capture and isn't very subjective. Let's explore 19th Century London compared to 21st Century Chicago.

In [2]:
# Read in the .csv file and convert to a Pandas dataframe called "London"

London = pd.read_csv("London.csv", index_col='Year')

In [3]:
# Print the London dataframe

London

      Population  Deaths
Year
1840     1842458   46281
1841     1877963   45284
1842     1916860   45272
1843     1953787   48574
1844     2033816   50423
1845     2073298   48332
1846     2113535   49089
1847     2195401   60442
1848     2238703   57628
1849     2282858   68432
1850     2327884   48579
1851     2373799   55354
1852     2420619   54213
1853     2468362   61202
1854     2517048   73697

## Creating a Variable of Interest

It is easy to compare Chicago and London side by side because they have similar populations.

However, we still need to factor in the total population when considering death rate, also known as "mortality".

This is done with the following calculation:

$$death \ rate_{1000} = {deaths \over population} \times 1000$$

We can define this calculation with a function:

In [4]:
# Just run this cell. Nothing will output because you are just defining the function.

def death_rate(population, deaths):
    return deaths/population*1000

## Referencing Arrays

We use the format `dataframe['array_label']` to reference a column in a dataframe. For example:

In [ ]:
# Run the cell

London['deaths']

Use the `death_rate` function and reference the appropriate arrays to calculate the death rates for London between 1840 and 1854 and place it in a variable called `deaths_1000`

In [ ]:
# Insert 2 column references into the death_rate function separated by a comma
deaths_1000 = death_rate()

# Print the results
deaths_1000

We can add this new data as another column to our dataframe by simply creating a new variable in the column format: `dataframe['array_label']`

In [7]:
# Just run this cell 

London['Deaths per 1000'] = deaths_1000
London

## Interpretation

London experience two major cholera outbreaks between 1840 and 1854. **Can you figure out which years?**

## Extension

**How did the mortality rate of 19th Century London compare to 21st Century Chicago?**
    
Use the `Chicago.csv` dataset to view similar data for Chicago between 2010-2018.

Can you modify the code above to calculate the mortality rate **for Chicago**?