# Alexa, what's the temperature right now?

Location-based weather forecasts rely on interpolation where things like temperature are predicted based on actual measurements made by weather stations. Unfortunately, these weather stations can be dozens of miles apart and there can be large variations in temperature between them.

<img src = 'https://climate.cod.edu/data/forecast/HRRR/2021072216/NIL/HRRRNIL_sfc_temp_018.png' width = 600>



The Array of Things nodes are special because they provide a hyperlocal view of the environment. 

<img src = 'https://pbs.twimg.com/media/DfdYqlpXUAAYJbK?format=jpg&name=large' width = 400>

## Your task: Today, you are Alexa. 

<img src = "https://upload.wikimedia.org/wikipedia/commons/8/81/Cloud_Gate_%28%22The_Bean%22%29_-_Millenium_Park_%2835640530046%29.jpg" width = 300>

## "Alexa, what's the temperature at The Bean?"

### Datasets
`nodes.csv`
`temperatures.csv`

Directions: Use the two datasets to give a hyperlocal temperature for The Bean. The import of the datasets has been coded for you in the next cell.

In [2]:
import pandas as pd
nodes = pd.read_csv('data/nodes.csv')
temperatures = pd.read_csv('data/temperatures.csv')

In [5]:
temperatures.tail()

    Unnamed: 0       node_id subsystem    parameter  value_raw  Temp_F
36          36  001e06118182  metsense  temperature        845   77.36
37          37  001e06113ace  metsense  temperature        831   73.58
38          38  001e0611537d  metsense  temperature        845   77.36
39          39  001e0610ee43  metsense  temperature        846   77.63
40          40  001e0611441e  metsense  temperature        835   74.66

In [6]:
nodes.head()

,node_id,project_id,vsn,address,lat,lon,description,start_timestamp,end_timestamp
0,001e0610ba46,AoT_Chicago,4,State St & Jackson Blvd Chicago IL,41.878377,-87.627678,AoT Chicago (S) [C],10/9/17 0:00,NaN
1,001e0610ba3b,AoT_Chicago,6,18th St & Lake Shore Dr Chicago IL,41.858136,-87.616055,AoT Chicago (S),8/8/17 0:00,NaN
2,001e0610ba8f,AoT_Chicago,00D,Cornell & 47th St Chicago IL,41.810342,-87.590228,AoT Chicago (S),8/8/17 0:00,NaN
3,001e0610ba16,AoT_Chicago,10,Homan Ave & Roosevelt Rd Chicago IL,41.866349,-87.710543,AoT Chicago (S) [C],7/18/18 0:00,NaN
4,001e0610ba8b,AoT_Chicago,18,Stony Island Ave & 63rd St Chicago IL,41.780600,-87.586456,AoT Chicago (S) [C],2/26/18 0:00,NaN

In [7]:
nodes.tail()

,node_id,project_id,vsn,address,lat,lon,description,start_timestamp,end_timestamp
117,001e061183eb,AoT_Chicago,0BE,"""63rd St & Halsted Ave Chicago IL""",41.779889,-87.644777,AoT Chicago (S) [CP],5/16/19 0:00,NaN
118,001e06117b41,AoT_Chicago,0BA,"""60th & Michigan Ave Chicago IL""",41.785715,-87.622214,AoT Chicago (S) [CP],5/16/19 0:00,NaN
119,001e061183f5,AoT_Chicago,0BF,111th & Michigan Ave Chicago IL,41.692703,-87.621020,AoT Chicago (S) [CP],6/24/19 0:00,NaN
120,001e061182a7,AoT_Chicago,0C0,111th & Vincennes Chicago IL,41.691803,-87.663723,AoT Chicago (S) [CP],6/24/19 0:00,NaN
121,001e0611850f,AoT_Chicago,0AF,111th St & Martin Luther King Dr Chicago IL,41.692837,-87.613419,AoT Chicago (S) [CP],6/24/19 0:00,NaN